* {
	margin:0;
	padding:0;
}

/*#editor_ *:hover {
	border:1px solid gray;
	box-sizing:border-box;
}*/

#header_ {
	width:100%;
	height:10%;
	position:absolute;
	top:0;
	left:0;

	border-bottom:2px solid #8D8F92;
	box-sizing:border-box;

	background-color:#E9EEF2;
	font-family: 'Istok Web', sans-serif;
}

#header_ h1 {
	padding:0;
	margin:0;

	font-size:20pt;
	margin-top:10pt;
	margin-left:10pt;
}

#editor_ {
	width:100%;
	height:80%;
	position:absolute;
	top:10%;
	left:0;
	overflow-y:scroll;

	background-color:#FFF;
}

#commands_ {
	width:100%;
	height:10%;
	position:absolute;
	bottom:0;
	left:0;

	border-top:2px solid #8D8F92;
	box-sizing:border-box;


	background-color:#E9EEF2;
}


/* default formatting for the layout */

#header {
	width:100%;
	text-align:center;
}

#banner {
	font-size:20pt;
	line-height:50pt;
	font-family:Tahoma, sans-serif;
}